**/*~
**/*.pyc
**/__init__.py
**/Pdfdata
**/output
**/br.sm*
**/*.DAT
**/*.old.*
**/*.out
**/*.o
**/*.a
**/*.so
**/*.d
**/*.pcm
**/*.lhe
**/*.log
**/tmp*
**/*.pdf
**/*.png
**/*.eps
test/*.root
test/*.txt
test/*.json
obj
lib
executables
*.root
